.searchbar {
    padding: 7px 19px 7px 15px;
    background: #1B1A21;
    border-radius: 10px;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    border: none;
    width: 100%;
    height: 40px;
    &::placeholder {
        color: #fff;
        opacity: 1;
    }
}