.seller-box {
    background: #2A2D3A;
    border-radius: 20px;
    padding: 11px 15px 18px 15px;

    &-number {
        background: #DA18A3;
        border-radius: 50%;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        width: 33px;
        height: 33px;
        line-height: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    &-img {
        width: 77px;
        height: 77px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        left: 0;
        right: 0;
        margin: 0 auto 5px auto;

        img {
            max-width: 100%;
            height: auto;
            line-height: 0;
        }
    }

    &-name {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        margin-bottom: 5px;
    }

    &-price {
        text-align: center;
        &-total {
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
        }

        &-currency {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
        }
    }

    @media screen and (max-width: 768px) {
        padding: 11px 10px 18px 10px;
        &-number {
            font-size: 12px;
        }
        &-name {
            font-size: 14px;
        }
        &-price {
            &-total {
                font-size: 14px;
            }
            &-currency {
                font-size: 14px;
            }
        }
    }
}